/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Main Colour: #c2255c */
/* Grey Colour(for txr): #495057 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  color: #495057;
  font-family: "Smooch Sans", sans-serif;
  border-bottom: 8px solid #c2255c;
}

.main-container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  /* 30 / 36 / 44  */
  font-size: 36px;
  margin-bottom: 48px;
}

img {
  border-radius: 6px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.features-grid-review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */
input[type="email"] {
  padding-left: 1rem;
  width: 60%;
  height: 25px;
  border: #c2255c 0.5px solid;
  border-radius: 50px;
  outline: #e64980;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  /* 16 / 18 / 20 */
  font-size: 20px;
  line-height: 30px;
  align-self: center;
}

.logo-container {
  margin: auto;
  width: 10%;
  padding-top: 35px;
}

h1 {
  /* 44 / 52 / 62 */
  margin-bottom: 64px;
  font-size: 62px;
  line-height: 55px;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 27px;
}

img {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #c2255c;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
}

.btn:hover,
.btn:visited {
  background-color: #e64980;
}

.btn--big {
  font-size: 20px;
  padding: 8px 16px;
}

.btn--small {
  font-size: 20px;
  padding: 2px 8px;
}

/* FEATURES */
.info-icon {
  stroke: #c2255c;
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}

.tab-icon {
  stroke: #c2255c;
  width: 24px;
  height: 24px;
}

.tab-info {
  font-size: 18px;
}

.features-title {
  /* 20 / 30 / 36 */
  font-size: 20px;
  margin-bottom: 8px;
}

.features-text {
  /* 16 / 18 / 20 */
  font-size: 18px;
  line-height: 27px;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #c2255c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.testi-img {
  padding: 20px;
  margin: 5px;
}

.testimonial-box {
  font-size: 24px;
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
  width: 75ch;
  margin-bottom: 24px;
}

.testimonial-author {
  font-size: 14px;
}

/* CHAIRS */
.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

h3 {
  /* 24 / 36 / 44  */
  font-size: 24px;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-price {
  /* 24 / 36 / 44  */
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  /* 12 / 14 / 16 */
  font-size: 16px;
  margin-bottom: 48px;
}

/* Pop-Up Exit-Intent Modal Styles */
.icon-x {
  stroke: #f5f5f5;
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.close {
  margin-top: 6px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  color: #f5f5f5;
  text-align: center;
  transition: all 0.2s;
}

.close:hover {
  cursor: pointer;
  font-weight: bold;
}

.exit-intent-popup {
  font-size: 2rem;
  font-weight: 500;
  color: #495057;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(230, 73, 128, 0.75);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-intent-popup.modal-visible {
  transform: translate(0) scale(1);
}

.modal-msg {
  background-color: #f5f5f5;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  padding: 6px;
  border-radius: 6px;
}

.mailing-list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33ch;
  transform: translate(-50%, -50%);
}

.modal_heading {
  font-size: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 6px;
}

@media only screen and (max-width: 930px) {
  header {
    grid-template-columns: 1fr;
  }

  h2 {
    margin: 100px auto;
    width: 50%;
  }

  blockquote {
    margin: 100px auto;
    width: 25%;
  }

  .header-img {
    margin: 100px auto;
    width: 50%;
  }

  .review-img {
    margin: 100px auto;
    width: 50%;
  }

  .testi-img {
    margin: 100px auto;
    width: 50%;
  }

  .header-text-box {
    margin: 100px auto;
    width: 50%;
  }

  .features-grid {
    grid-template-columns: 1fr;
    margin: 100px auto;
    width: 50%;
  }

  .testimonial-heading {
    margin: 0;
  }

  .features-grid-review {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 0;
  }

  .testimonial-section {
    /* display: grid;
    grid-template-columns: 1fr; */
    width: 50%;
    margin: 100px auto;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  /* .features-grid-review {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 40%;
    margin: 100px auto;
  }

  .testimonial-section {
    width: 40%;
    margin: 100px auto;
  } */
}
